/************** 
Regola di Reset 
**************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************** 
Regole di Debug 
**************/
.debug #site_header {
    height: 100px;
    background-color: bisque;
}

.debug #site_content {
    height: 2000px;
    background-color: cornflowerblue;
}

.debug #site_footer {
    height: 400px;
    background-color: black;
}

.debug .large_container {
    width: 90%;
    height: 500px;
    background-color: cornsilk;
    margin: auto;
}


/************** 
Utility 
**************/
body {
    font-family: 'Open Sans',
        sans-serif;
    color: #000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.large_container {
    width: 75%;
    margin: auto;
}

.small_container {
    width: 65%;
    margin: auto;
}

.list_style {
    list-style: none;
}

h3 {
    font-size: 1.7rem;
}

/* Links */
a {
    color: #000;
    text-decoration: none;
}

/* Buttons */
.btn {
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
}

/************** 
Header 
**************/
#site_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding: 25px 20px;
}

#site_header .logo {
    float: left;
    width: 50%;
}

#site_header .logo>img {
    float: left;
    padding-right: 2rem;
}

#site_header .logo a {
    margin-right: 2rem;
}

#site_header .login {
    float: left;
    width: 50%;
    text-align: right;
}

#site_header li {
    display: inline-block;
}

#site_header .login a {
    margin-left: 2rem;
}

/************** 
Main 
**************/
/* Hero Image */
#site_content .container {
    background: #B4D0E7;
    padding: 140px 0;
}

#site_content .col_txt {
    float: left;
    width: 27%;
}

#site_content section>h1 {
    font-size: 5.5rem;
    padding-bottom: 3rem;
}

#site_content .col_txt p {
    padding: 0 2rem 2.5rem 0;
}

#site_content section .annulla {
    padding-top: 1rem;
    font-size: 0.9rem;
}

#site_content section i {
    font-size: 2.5rem;
}

#site_content .col_img {
    float: left;
    width: 73%;
    position: relative;
}

#site_content .col_img>img {
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
}

/* Plan */
.small_container h2 {
    padding: 200px 0 50px 0;
    font-size: 2.5rem;
}

.small_container .fatt {
    display: inline-block;
    margin-right: 1.2rem;
}

.small_container .circle {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    vertical-align: -2px;
}

.small_container .border_blue {
    border: 4px solid #0061ff;
}

.small_container .border_grey {
    border: 1px solid #d9d9d9;
}

.small_container .circle:hover {
    cursor: pointer;
}

.plan {
    width: 100%;
    margin: 2rem auto;
}

.plan>.col {
    float: left;
    width: 29.8%;
    min-height: 1000px;
    border: 1px solid #d9d9d9;
    margin-bottom: 2rem;

}

.plan .col:nth-child(2) {
    margin: 0 4rem;
}

.plan .title {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 0.7rem 0;
}

#site_content section .title>i {
    font-size: 1rem;
    padding-right: 5px;
}

#site_content section .content i {
    font-size: 0.9rem;
}

.plan .content {
    padding: 2rem;
    font-size: 0.95rem;
}

.plan .content h3 {
    margin-bottom: 1rem;
}

.plan .month {
    margin: 0.7rem 0 2.5rem 0;
    color: #777;
    font-weight: 600;
}

.plan .content li {
    margin: 0 0 1.5rem -1rem;
}

.plan .content .btn {
    display: block;
    text-align: center;
    margin-top: 3.5rem;
}

.plan .content .buy {
    margin: 1.7rem 0;
}

.plan .content .buy>span {
    color: #0061ff;
    text-decoration: underline;
}

.plan .content .line {
    width: 20%;
    border-top: 1px solid #d9d9d9;
}

.plan .content .points {
    font-weight: 700;
    margin: 2.5rem 0 1.7rem 0;
}

.plan .content .fa-check {
    color: #0061ff;
}

.enterprice {
    border: 1px solid #d9d9d9;
}

.enterprice .title {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 0.7rem 0;
}

.enterprice .content {
    padding: 2rem;
    font-size: 0.95rem;
}

.enterprice .col_content {
    float: left;
    width: 70%;
}

.enterprice .col_btn {
    float: left;
    width: 30%;
}

.enterprice .content h3 {
    margin-bottom: 1rem;
}

.enterprice .content strong {
    font-size: 1rem;
}

.enterprice .content p {
    margin-top: 2rem;
}

.enterprice .content .btn {
    display: block;
    text-align: center;
}

/* partner */
.small_container .partner {
    width: 100%;
    margin: 150px auto;
}

.partner .image_partner {
    float: left;
    width: 60%;
}

.partner .text_partner {
    float: left;
    width: 40%;
}

.partner .image_partner img {
    width: 90%;
}

.partner .text_partner h3 {
    margin: 2.5rem 0 1.5rem 0;
}

.partner .text_partner p {
    margin-bottom: 2rem;
}

.partner .text_partner .btn_outline {
    border: 1px solid #000;
    padding: 7px 20px;
}